<?php
include $_SERVER['DOCUMENT_ROOT'].'/view/common/header.html';
?>


<div id="container" class="container-full">
	<div id="content" class="content">
		<div class="inner">
			<div class="tit-box-h3">
				<h3 class="tit-h3">아이디/비밀번호 찾기</h3>
				<div class="sub-depth">
					<span><i class="icon-home"><span>홈</span></i></span>
					<strong>아이디/비밀번호 찾기</strong>
				</div>
			</div>

			<ul class="tab-list">
				<li><a href="#">아이디 찾기</a></li>
				<li class="on"><a href="#">비밀번호 찾기</a></li>
			</ul>

			<div class="tit-box-h4">
				<h3 class="tit-h4">비밀번호 찾기 방법 선택</h3>
			</div>

            <dl class="find-box">
                <dt>휴대폰 인증</dt>
                <dd>
                    고객님이 회원 가입 시 등록한 휴대폰 번호와 입력하신 휴대폰 번호가 동일해야 합니다.
                    <label class="input-sp big">
                        <input type="radio" id="searchPhone" name="radio" checked="checked" />
                        <span class="input-txt"></span>
                    </label>
                </dd>
            </dl>
            <dl class="find-box">
                <dt>이메일 인증</dt>
                <dd>
                    고객님이 회원 가입 시 등록한 이메일 주소와 입력하신 이메일 주소가 동일해야 합니다.
                    <label class="input-sp big">
                        <input type="radio" id="searchEmail" name="radio" />
                        <span class="input-txt"></span>
                    </label>
                </dd>
            </dl>

            <div class="section-content mt30">
                <table border="0" cellpadding="0" cellspacing="0" class="tbl-col-join">
                    <caption class="hidden">아이디 찾기 개인정보 입력</caption>
                    <colgroup>
                        <col style="width:15%"/>
                        <col style="*"/>
                    </colgroup>
                    <tbody>
                    <form id="findUser">
                        <tr>
                            <th scope="col">성명</th>
                            <td><input type="text" class="input-text" id="userName" name="userName" style="width:302px" /></td>
                        </tr>
                        <tr>
                            <th scope="col">아이디</th>
                            <td>
                                <input type="text" class="input-text" id="userId" name="userId" style="width:302px" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" id="fMailTh">이메일주소</th>
                            <td id="fMail">
                                <input type="text" class="input-text" id="mail1" name="mail1" style="width:138px" required/> @ <input type="text" id="mail2" name="mail2" class="input-text" style="width:138px" placeholder="직접입력" required/>
                                <select class="input-sel" id="selmail" name="selmail" style="width:160px">
                                    <option id="naver" value="naver.com">naver.com</option>
                                    <option id="gmail" value="gmail.com">gmail.com</option>
                                    <option id="daum" value="daum.net">daum.net</option>
                                    <option id="stella" value="stella.com">stella.com</option>
                                    <option id="hackers" value="hackers.com">hackers.com</option>
                                </select>
                                <a href="#" class="btn-s-tin ml10" id="mChk">인증번호 받기</a>
                            </td>
                            <label>
                                <th scope="col" id="fPhoneTh">휴대폰번호</th>
                                <td id="fPhone" name="fPhone">
                                    <input type="text" maxlength = "3" class="input-text" style="width:50px" id="phone1" name="phone1"/> -
                                    <input type="text" maxlength = "4" class="input-text" style="width:50px" id="phone2" name="phone2"/> -
                                    <input type="text" maxlength = "4" class="input-text" style="width:50px" id="phone3" name="phone3"/>
                                    <a href="#" class="btn-s-tin ml10" id="phoneCheck">인증번호 받기</a>
                                </td>
                            </label>
                        </tr>
                    </form>
                    <tr>
                        <th scope="col">인증번호</th>
                        <td><input type="text" class="input-text" id="inputNumber" style="width:478px" /><a href="#" class="btn-s-tin ml10" id="checkNumber">인증번호 확인</a></td>
                    </tr>
                    </tbody>
                    <input type="hidden" id="userIdValue">
                </table>

            </div>
        </div>
    </div>
</div>

<script>

    $('#findId').on('click',function() {

        location.href='/view/member/index.php?mode=find_id';

    });
    $('#findPw').on('click',function() {

        location.href='/view/member/index.php?mode=find_pass';

    });

</script>
<script>

    $(document).ready(function() {

        //default값이 휴대폰 인증이므로 메일 입력박스 숨김
        $('#fMailTh').hide();
        $('#fMail').hide();

        $('input:radio').click(function () {

            //휴대폰 인증 클릭 시
            if($('#searchPhone').is(':checked')) {

                $('#fPhoneTh').show();
                $('#fPhone').show();
                $('#fMailTh').hide();
                $('#fMail').hide();

                //메일 인증 클릭 시
            } else {

                $('#fMailTh').show();
                $('#fMail').show();
                $('#fPhoneTh').hide();
                $('#fPhone').hide();

            }

        });

    });

</script>
<script>

    //휴대폰 유효성 검사
    $("#phoneCheck").click(function(event) {

        event.preventDefault();

        $.post('/controller/memberController.php', {mode: "phoneValidations2" , id: $('#userId').val(), name: $('#userName').val(), phone1: $('#phone1').val(), phone2: $('#phone2').val(), phone3: $('#phone3').val()}, function(data) {

            if(data.success == false ){

                alert(data.msg);
                return false;

            }
            if(data.success == 'none') {

                alert(data.msg);
                return false;

            }
            if(data.success == true) {

                alert(data.msg);
                $('input:hidden[id=userIdValue]').val(data.userId);
                return true;

            }

        },"json");

    });

</script>
<script>

    //인증번호 확인
    $("#checkNumber").on("click", function(){

        event.preventDefault();

        $.post('/controller/memberController.php', {mode: "randomFrm" , inputNumber: $('#inputNumber').val() }, function(data) {

            if(data.success == false ) {

                alert(data.msg);
                return false;

            }
            if(data.success == true) {
                alert(data.msg);
                var userId =  $('input:hidden[id=userIdValue]').val();
                location.href='/view/member/findPassword2.html?userId='+userId;
                return true;

            }

        },"json");

    });
</script>
<script>

    /*메일주소 select시 선택된 값 텍스트박스에 삽입*/
    $("#selmail").change(function() {

        $("input:text[id=mail2]").val($(this).val());

    });

</script>
<script>

    //메일 유효성체크 정규식
    var regExp = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;

    $("#mChk").click(function(event) {

        var emailVal = $("#mail1").val()+"@"+$("#mail2").val();
        //유효한 형식의 이메일일 경우
        if (emailVal.match(regExp) != null) {
            //성명과 이메일주소를 DB에 있는 데이터와 비교하기위해 Ajax 통신
            $.ajax ({
                url: "/model/selectNameEmailPw.php",
                type: "post",
                //userName 인코딩
                data: {userName: encodeURIComponent($('#userName').val()), email: emailVal, userId: $('#userIds').val() },

                success: function (data) {
                    /*console.log(data);*/
                    //전송받은 data와 입력한 userName이 같을 경우
                    if (data.trim() != "") {

                        alert("인증번호는 <?=$_SESSION['num']?> 입니다.");
                        var a = $('input:hidden[name=userId]').val(data);

                    } else {

                        alert("입력하신 성명 & 이메일과 일치하는 회원이 없습니다. 성명과 이메일을 정확히 입력해 주세요");
                        $('#userName').focus();

                    }
                }
            });

        } else {
            //이메일 형식이 유효하지 않을 경우
            alert("메일의 형식이 올바르지 않습니다. 정확한 이메일을 입력해주세요.");
            $('#mail1').focus();
        }
    });
</script>

<?php
include $_SERVER['DOCUMENT_ROOT'].'/view/common/footer.html';
?>