<?php
include '../common//header.php';
?>

<div id="container" class="container-full">
	<div id="content" class="content">
		<div class="inner">
			<div class="tit-box-h3">
				<h3 class="tit-h3">회원가입</h3>
				<div class="sub-depth">
					<span><i class="icon-home"><span>홈</span></i></span>
					<strong>회원가입</strong>
				</div>
			</div>

			<div class="join-step-bar">
				<ul>
					<li><i class="icon-join-agree"></i> 약관동의</li>
					<li><i class="icon-join-chk"></i> 본인확인</li>
					<li class="last on"><i class="icon-join-inp"></i> 정보입력</li>
				</ul>
			</div>

			<form class="section-content" id="signUpValidation">
				<table border="0" cellpadding="0" cellspacing="0" class="tbl-col-join">
					<caption class="hidden">강의정보</caption>
					<colgroup>
						<col style="width:15%"/>
						<col style="*"/>
					</colgroup>

					<tbody>
						<tr>
							<th scope="col"><span class="icons">*</span>이름</th>
							<td><input type="text" class="input-text" id= "userName" name= "userName" style="width:302px" required/>
                            <span id="userNameResult" class=""float-right"></span></td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>아이디</th>
							<td><input type="text" class="input-text" id="userId" name= "userId" style="width:302px" placeholder="영문자로 시작하는 4~15자의 영문소문자, 숫자" required/><a href="#" class="btn-s-tin ml10" id="idCheckBtn">중복확인</a></td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>비밀번호</th>
							<td><input type="password" class="input-text" id="userPw" name="userPw" mode="pwpw" style="width:302px" placeholder="8-15자의 영문자/숫자 혼합" required/><span id="pwd1Result" class="float-right"></span></td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>비밀번호 확인</th>
							<td><input type="password" class="input-text" id="userPw2" name="userPw2" style="width:302px" required/><span id="pwd2Result" class="float-right" ></span></td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>이메일주소</th>
							<td>
								<input type="text" class="input-text" id="mail_1" name="mail_1" style="width:138px" required/> @ <input type="text" id="mail_2" name="mail_2" class="input-text" style="width:138px" placeholder="직접입력" required/>
								<select class="input-sel" id="selmail" name="selmail" style="width:160px">
                                    <option id="navesr" value="naver.com">---분류---</option>
									<option id="naver" value="naver.com">naver.com</option>
									<option id="gmail" value="gmail.com">gmail.com</option>
									<option id="daum" value="daum.net">daum.net</option>
									<option id="stella" value="stella.com">stella.com</option>
									<option id="hackers" value="hackers.com">hackers.com</option>
								</select>
							</td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>휴대폰 번호</th>
							<td>
								<input type="text" class="input-text" name="phone[0]" style="width:50px" value=<?php echo $_SESSION["phone1"];?> readonly="readonly" required /> -
								<input type="text" class="input-text" name="phone[1]" style="width:50px" value=<?php echo $_SESSION["phone2"];?> readonly="readonly" required /> -
								<input type="text" class="input-text" name="phone[2]" style="width:50px" value=<?php echo $_SESSION["phone3"];?> readonly="readonly" required/>
							</td>
						</tr>
						<tr>
							<th scope="col"><span class="icons"></span>일반전화 번호</th>
							<td><input type="text" class="input-text" id="t1" name="t1" maxlength="3" style="width:88px" value=""/> - <input type="text" maxlength="4" class="input-text" id="t2" name="t2"style="width:88px"/> - <input type="text" maxlength="4" class="input-text" id="t3" name="t3" style="width:88px"/></td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>주소</th>
							<td>
								<p >
									<label>우편번호 <input type="text" class="input-text ml5" id="address1" name="address1"  style="width:242px" required/></label><a href="#" class="btn-s-tin ml10" onclick="address()">주소찾기</a>
								</p>
								<p class="mt10">
									<label>기본주소 <input type="text" class="input-text ml5" id="address2" name="address2" style="width:719px" required/></label>
								</p>
								<p class="mt10">
									<label>상세주소 <input type="text" class="input-text ml5" id="address3" name="address3" style="width:719px" required/></label>
								</p>
							</td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>SMS수신</th>
							<td>
								<div class="box-input">
									<label class="input-sp">
										<input type="radio" name="sendSms" id="sendSms1" value="y" checked="checked"/>
										<span class="input-txt">수신함</span>
									</label>
									<label class="input-sp">
										<input type="radio" name="sendSms" id="sendSms2" value="n" />
										<span class="input-txt">미수신</span>
									</label>
								</div>
								<p>SMS수신 시, 해커스의 혜택 및 이벤트 정보를 받아보실 수 있습니다.</p>
							</td>
						</tr>
						<tr>
							<th scope="col"><span class="icons">*</span>메일수신</th>
							<td>
								<div class="box-input">
									<label class="input-sp">
										<input type="radio" name="sendMail" value="y" id="radio1" checked="checked"/>
										<span class="input-txt">수신함</span>
									</label>
									<label class="input-sp">
										<input type="radio" name="sendMail" id="radio2" value="n"/>
										<span class="input-txt">미수신</span>
									</label>
								</div>
								<p>메일수신 시, 해커스의 혜택 및 이벤트 정보를 받아보실 수 있습니다.</p>
							</td>
						</tr>
					</tbody>
				</table>
                <input type="hidden" id="email" name="email"/>
                <input type="hidden" id="phone" name="phone"/>
                <input type="hidden" id="tel" name="tel"/>

				<input type="hidden" name="mode" value="signUp"/>

				<div class="box-btn">
					<input type="button" id="signUpBtn" class="btn-l" value="회원가입">
				</div>
			</form>
            </div>
		</div>
	</div>
</div>



<script>
//엔터키 차단

$('input[type="text"]').keydown(function() {

	if (event.keyCode === 13) {
		event.preventDefault();
	}

});

$('#idCheckBtn').click(function() {

    $.post('/controller/memberController.php', { mode: 'idChk', userId : $('#userId').val() }, function(data) {

        console.log(data);
        alert(data.msg);
        if(data.success == false) {

            $("#userId").val('');
            $("#userId").focus();

        }

    }, 'json');

});

$('#userPw').keyup(function() {

    $.post('/controller/memberController.php', $("#signUpValidation").serialize(), function(data) {

        console.log(data);
        $('#pwd1Result').empty();
        $('#pwd1Result').append(data.msg);


    }, 'json');
})


</script>
<!--<script>
$('.box-btn').on('click',function(){

    if($('#userPw').val() == "" ||
        $('#userPw2').val() == "" ||
        $('#userId').val() == "" ||
        $('#p1').val() == "" ||
        $('#p2').val() == "" ||
        $('#p3').val() == "" ||
        $('#address1').val() == ""||
        $('#address2').val() == "" ||
        $('#address3').val() == "") {

        alert('필수항목을 모두 입력해주세요.');

        return false;
    }

    if($("#userPw").val() != $("#userPw2").val()) {

        alert("비밀번호가 일치하지 않습니다.");
        return false;

    }

    // 이메일 검증 스크립트 작성
    var emailVal = $("#mail_1").val()+"@"+$("#mail_2").val();
    if (emailVal.match(regExp) != null) {
        var a = $('input:hidden[name=email]').val(emailVal);

        var p1 = $('#p1').val();
        var p2 = $('#p2').val();
        var p3 = $('#p3').val();
        var pAll = p1+"-"+p2+"-"+p3;
        var b = $('input:hidden[name=phone]').val(pAll);

        if($('#t1').val() != "") {
            alert("hi");

            var t1 = $('#t1').val();
            var t2 = $('#t2').val();
            var t3 = $('#t3').val();
            var tAll = t1+"-"+t2+"-"+t3;
            var c = $('input:hidden[name=tel]').val(tAll);
        }
        /* alert("send mail address is "+$('input:hidden[name=email]').val());
         alert("send phone is "+$('input:hidden[name=phone]').val());
         alert("send tel is "+$('input:hidden[name=tel]').val());*/
    }
    else {
        alert('올바르지 않은 형식의 이메일입니다. 다시 입력해 주세요');
        return false;

    }

    $("#SignUp").attr("action","/controller/memberController.php?mode=regist");
    $("#SignUp").submit();
})
</script>


&lt;!&ndash;유효성검사 시작&ndash;&gt;
<script>


/*var nameRules= /^[가-?]{2,4}$/;*/

$(function() {

    $("#idEnrollChk").on('click', function () {

        $.ajax({

            url: "/model/idCompare.php",
            type: "post",
            data: {"userId": $("#userId").val().trim()},
            success: function (data) {

                console.log(data);

                if (idRules.test($("#userId").val())) {

                    if (data == $("#userId").val()) {

                        alert($('#userId').val() + "는 이미 존재하는 ID입니다. 아이디를 변경해주세요");
                        $('#userId').val("");
                        $('#userId').focus();

                    } else {

                        alert($('#userId').val() + "는 사용 가능한 ID입니다");
                        $('#userPw').focus();

                    }

                } else {

                    alert("ID는 영문대소문자+숫자 4~12글자로 구성하여야 합니다.");

                }

            }

        });
    });

    $("#userPw").keyup(function () {

        if (passwordRules.test($("#userPw").val())) {

            $("#pwd1Result").html(" 는 사용가능한 비밀번호입니다").css("color", "green");
            pw1Flag = 1;

        } else {

            $("#pwd1Result").html(" 사용 불가능한 비밀번호입니다. 다시 입력해 주세요").css("color", "red");
            pw1Flag = 0;

        }

    });

    $("#userPw2").keyup(function () {

        if ($("#userPw").val() != $("#userPw2").val()) {

            $("#pwd2Result").html(" 비밀번호가 일치하지 않습니다. 다시 입력해 주세요").css("color", "red");
            pw2Flag = 0;

        } else {

            $("#pwd2Result").html(" 비밀번호 일치").css("color", "green");
            pw2Flag = 1;
            $("#mail_1").focus();

        }

    });

    /*주소 select시 value 삽입*/
    $("#selmail").change(function () {

        $("input:text[id=mail_2]").val($(this).val());
        $("#telNum").focus();

    });

});

</script>
&lt;!&ndash;주소 api 가능하다는 전제&ndash;&gt;
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>

    function address() {

        new daum.Postcode({

            oncomplete: function(data) {

                var fullAddr = ''; // 주소 변수

                var extraAddr = '';

                if (data.userSelectedType === 'R') { // 도로명

                    fullAddr = data.roadAddress;

                } else { // 지번

                    fullAddr = data.jibunAddress;

                }

                if(data.userSelectedType === 'R'){

                    //법정동명
                if(data.bname !== ''){

                    extraAddr += data.bname;

                }

                // 건물명
                if(data.buildingName !== ''){

                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);

                }

                fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');

                }

                document.getElementById('address1').value = data.zonecode; //5자리 새우편번호 사용

                document.getElementById('address2').value = fullAddr;

                document.getElementById('address3').focus();

        }

    }).open();
}
</script>-->

<?php
include '../common//footer.php';
?>
