<?php
    include '../common/header.php';
	$_SESSION['num'] = '123456';
?>

		<div class="top-section">
			<div class="inner">
				<div class="link-box">
					<!-- 로그인전 -->
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
					<a href="#">상담/고객센터</a>
					<!-- 로그인후 -->
					<!-- <a href="#">로그아웃</a>
					<a href="#">내정보</a>
					<a href="#">상담/고객센터</a> -->
				</div>
			</div>
		</div>
	</div>
<div id="container" class="container-full">
	<div id="content" class="content">
		<div class="inner">
			<div class="tit-box-h3">
				<h3 class="tit-h3">회원가입</h3>
				<div class="sub-depth">
					<span><i class="icon-home"><span>홈</span></i></span>
					<strong>회원가입 완료</strong>
				</div>
			</div>

			<div class="join-step-bar">
				<ul>
					<li><i class="icon-join-agree"></i> 약관동의</li>
					<li class="on"><i class="icon-join-chk"></i> 본인확인</li>
					<li class="last"><i class="icon-join-inp"></i> 정보입력</li>
				</ul>
			</div>

			<div class="tit-box-h4">
				<h3 class="tit-h4">본인인증</h3>
			</div>

			<div class="section-content after">
				<div class="identify-box" style="width:100%;height:190px;">
					<div class="identify-inner">
						<strong>휴대폰 인증</strong>
						<p>주민번호 없이 메시지 수신가능한 휴대폰으로 1개 아이디만 회원가입이 가능합니다. </p>
						<br />
                        <form id="pNumber">
							<input type="text" maxlength = "3" class="input-text" style="width:50px" id="phone1" name="phone[0]"/> -
							<input type="text" maxlength = "4" class="input-text" style="width:50px" id="phone2" name="phone[1]"/> -
							<input type="text" maxlength = "4" class="input-text" style="width:50px" id="phone3" name="phone[2]"/>
							<input type="hidden" name="mode" value="phoneValidation">
							<input type="submit" class="btn-s-line" value="인증번호 받기">
                        </form>
						<br /><br />
						<form id="certificationCheck">
							<input type="text" name="certificationNumber" class="input-text" style="width:200px"/>
							<input type="hidden" name="mode" value="certificationCheck">
							<input type="button" id="certButton" class="btn-s-line" value="인증번호 확인">
						</form>
					</div>
					<i class="graphic-phon"><span>휴대폰 인증</span></i>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
//휴대폰 유효성 검사
$("#pNumber").submit(function(event) {

    event.preventDefault();

    $.post('/controller/memberController.php', $("#pNumber").serialize()).done(function(data) {

        alert(data);

	});

});

</script>
<script>
//인증번호 검사
$("#certButton").click(function(event) {

    event.preventDefault();

	$.post('/controller/memberController.php', $("#certificationCheck").serialize(),function(data) {

		alert(data.msg);

	    if(data.success == true) location.href="/controller/memberController.php?mode=step_03&&phone=";
		else $('#certificationNumber').focus();

	}, 'json');

});

</script>

<?php
include '../common/footer.php';
?>